<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.youben.mapper.DatabaseInfoMapper">
    <resultMap id="databaseInfoMap" type="DatabaseInfo">
        <result column="id" property="id"/>
        <result column="sourceId" property="sourceId"/>
        <result column="tableName" property="tableName"/>
        <result column="recordCount" property="recordCount"/>
        <result column="recordEalyDate" property="recordEalyDate"/>
        <result column="recordLateDate" property="recordLateDate"/>
        <result column="sourceName" property="sourceName"/>
    </resultMap>

    <select id="findList" parameterType="DatabaseInfo" resultMap="databaseInfoMap">
        select
          d.*,
          s.name sourceName
        from databaseinfo d join datasource  s on d.sourceId=s.id
        <where>
           d.sourceId=#{sourceId}
        </where>
    </select>
    <select id="getByTableName" parameterType="map" resultMap="databaseInfoMap">
        select * from databaseinfo where sourceId=#{sourceId} and tableName=#{tableName}
    </select>
    <insert id="insert" parameterType="DatabaseInfo">
        INSERT into databaseinfo(sourceId,tableName,recordCount,recordEalyDate,recordLateDate)values(
          #{sourceId},
          #{tableName},
          #{recordCount},
          #{recordEalyDate},
          #{recordLateDate}
        )
    </insert>
    <update id="updateByPrimaryKey" parameterType="DatabaseInfo">
        update databaseinfo SET
         tableName= #{tableName},
         recordCount= #{recordCount},
         recordEalyDate= #{recordEalyDate},
         recordLateDate= #{recordLateDate}
        where id=#{id}
    </update>
</mapper>

