<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.youben.mapper.MainTaskInfoMapper">
    <resultMap id="mainTaskInfoMap" type="MainTaskInfo">
        <result property="id" column="id"/>
        <result property="mainTaskId" column="mainTaskId"/>
        <result property="tableName" column="tableName"/>
        <result property="fromRecordCount" column="fromRecordCount"/>
        <result property="fromRecordEalyDate" column="fromRecordEalyDate"/>
        <result property="fromRecordLateDate" column="fromRecordLateDate"/>
        <result property="toRecordCount" column="toRecordCount"/>
        <result property="toRecordEalyDate" column="toRecordEalyDate"/>
        <result property="toRecordLateDate" column="toRecordLateDate"/>
    </resultMap>
    <select id="findList" parameterType="MainTaskInfo" resultMap="mainTaskInfoMap">
        select
        d.*,
        m.name mainTaskName
        from maintaskinfo d join maintask m on d.mainTaskId=m.id
        <where>
            d.mainTaskId=#{mainTaskId}
        </where>
    </select>
    <select id="getByTableName" parameterType="map" resultMap="mainTaskInfoMap">
        select * from maintaskinfo where mainTaskId=#{mainTaskId} and tableName=#{tableName}
    </select>
    <update id="updateByPrimaryKey" parameterType="MainTaskInfo">
        update maintaskinfo SET
        fromRecordCount=#{fromRecordCount},
        fromRecordEalyDate=#{fromRecordEalyDate},
        fromRecordLateDate=#{fromRecordLateDate},
        toRecordCount=#{toRecordCount},
        toRecordEalyDate=#{toRecordEalyDate},
        toRecordLateDate=#{toRecordLateDate}
        where id=#{id}
    </update>
    <insert id="insert" parameterType="MainTaskInfo">
        insert into maintaskinfo(
        mainTaskId,
        tableName,
        fromRecordCount,
        fromRecordEalyDate,
        fromRecordLateDate,
        toRecordCount,
        toRecordEalyDate,
        toRecordLateDate
        )values(
        #{mainTaskId},
        #{tableName},
        #{fromRecordCount},
        #{fromRecordEalyDate},
        #{fromRecordLateDate},
        #{toRecordCount},
        #{toRecordEalyDate},
        #{toRecordLateDate}
        )
    </insert>
</mapper>

